.dragItem {
  cursor: move;
}

.dropTarget {
  width: 100%;
  border: 1px solid #3a3a3a;
  min-height: 2rem;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
}

.layoutItem {
  background-color: #323232;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
}
