.root {
  display: flex;
  height: 100vh;
  width: 100%;
}
.menu {
  background-color: #f4f5f7;
  width: 15vw;
  height: 100vh;
  padding: 15px 0;
  box-sizing: border-box;
  height: 100%;
  width: 240px;
  position: relative;
  background-color: rgb(244, 245, 247);
  color: rgb(66, 82, 110);
  animation-duration: 0.22s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  transition-property: boxShadow, transform;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  z-index: 100;
  border-right: 1px solid #dcdddf;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.appName {
  text-align: center;
  margin-top: 5px;
  &:hover {
    text-decoration: underline;
  }
}

.appCanvas {
  height: 100%;
  flex: 1;
}

.appContent {
  z-index: 15;
  margin-top: calc(-25vh + 20px);
  height: calc(100% - 75px);
  box-sizing: border-box;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .menu {
    background-color: #323232;
    border-right: 1px solid #111111;
  }
  .pageMenuText {
    color: white;
  }
  .pageMenuIcon {
    color: white;
  }
}
