.input {
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  padding: 10px 10px;
  background-color: #fefefe;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  cursor: edit;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(100, 100, 100, 0.4);
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .input {
    background-color: #323232;
    color: white;
    border: 1px solid rgba(100, 100, 100, 1);

    &:hover,
    &:focus {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(150, 150, 150, 1);
    }
    & input {
      background-color: #323232;
      color: white;
      border: 1px solid rgba(100, 100, 100, 1);
    }
  }
}
