.navbar {
  width: 64px;
  background-color: #0283ff;
  color: white;
  height: 100vh;
  padding: 10px 0;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 100%;
  cursor: pointer;
}
